.main-description-list{
    display: flex;
}
.main-description-item:not(:last-child){
margin-right: 30px;
  max-width: 270px;
}
.features-icon{ 
align-items: center;
}
.features-icon-fon{
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  
    background-color: #f5f4fa;
    
}
.main-description-title1,
.main-description-title2,
.main-description-title3,
.main-description-title4
{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

color: #212121;}

.main-description-content1,
.main-description-content2,
.main-description-content3,
.main-description-content4 {
    font-size: 14px;
    line-height: 1.71; 
color: #757575;
}